# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
lib/
.idea/
!.idea/codeStyleSettings.xml
!Implementations/lib/
# gradle
build
.gradle

# other
eclipse
run
releases

server-spigot/
server-sponge/