<link href="../bower_components/polymer/polymer-element.html" rel="import">

<dom-module id="fan-out">
    <template>
        <style>
            /**
             * Splay circles from top along a circular path
             * http://stackoverflow.com/questions/18735723/spherical-motion-around-object-using-javascript
             */

            @keyframes rotate {
                0%, 50% {
                    transform: rotate(0deg) translateY(-150px) rotate(0deg);
                }
            }

            #centre {
                position: fixed;
                left: 50%;
                top: 50%;
                transform: rotateZ(0.01deg); /* IE 10 bug */
            }

            .circle {
                border-radius: 50%;
                position: absolute;
            }

            .middle {
                background-color: fuchsia;
                height: 200px;
                width: 200px;
                left: -100px;
                top: -100px;
            }

            .outer {
                animation: rotate 2s ease-out 1;
                height: 60px;
                width: 60px;
                left: -30px;
                top: -30px;
            }

            .at-8-oclock {
                background-color: red;
                transform: rotate(-120deg) translateY(-150px) rotate(120deg);
            }

            .at-10-oclock {
                background-color: yellow;
                transform: rotate(-60deg) translateY(-150px) rotate(60deg);
            }

            .at-12-oclock {
                background-color: green;
                transform: rotate(0deg) translateY(-150px) rotate(0deg);
                z-index: 2;
            }

            .at-2-oclock {
                background-color: blue;
                transform: rotate(60deg) translateY(-150px) rotate(-60deg);
                z-index: 1;
            }

            .at-4-oclock {
                background-color: purple;
                transform: rotate(120deg) translateY(-150px) rotate(-120deg);
            }
        </style>

        <div id="centre">
            <div class="middle circle"></div>
            <div class="outer circle at-8-oclock"></div>
            <div class="outer circle at-10-oclock"></div>
            <div class="outer circle at-12-oclock"></div>
            <div class="outer circle at-2-oclock"></div>
            <div class="outer circle at-4-oclock"></div>
        </div>
    </template>

    <script>
        class FanOut extends Polymer.Element {
            static get is() {
                return 'fan-out'
            }

        }
        customElements.define(FanOut.is, FanOut);
    </script>
</dom-module>
